#history .jobs-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
}
.job-item {
    display: inline-block;
    padding: 20px;
    background-color: var(--third-color);
    background-color: var(--main-color);
    border-radius: 10px;
}
    .job-item:hover {
        background-color: var(--main-color);
        color: #fff;
    }
    .job-item > .header {
        display: inline-block;
        width: 100%;
        margin-bottom: 15px;
    }
        .job-item > .header > .texts {
            display: inline-block;
            
        }
            .job-item > .header > .texts > h3 {
                display: inline-block;
                width: 100%;
                font-size: 24px;
                line-height: 30px;
            }
            .job-item > .header > .texts > p {
                display: inline-block;
                width: 100%;
                font-size: 16px;
                line-height: 20px;
            }
        .job-item > .header > .btn {
            display: inline-block;
            
        }
    .job-item > p {
        display: inline-block;
        width: 100%;
        font-size: 18px;
        line-height: 22px;

    }

@media (min-width: 1081px) {
    #history .jobs-list {
        grid-template-columns: 1fr 1fr;
    }
}